* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

body h3, h2 {
	color: #4d473fd0;
	text-shadow: 0px 1px 3px #555555;
	font-size: 2em;
	text-align: center;
}

body h2:first-child {
	color: white;
}

section:not(.principal) {
    max-width: 940px;
	margin: auto;
	padding-block: 3em;
}

p > a {
	color: inherit;
	text-decoration: none;
}

p > a:hover {
	color: #4d473fd0;
}

header {
	background: url("../assets/images/bg.jpg");
	height: 70px;
}

header div {
	max-width: 940px;
	display: flex;
	align-items: center;
    justify-content: space-between;
	margin: auto;
}

.img-container img {
	width: 50px;
	height: 70px;
}

/* nav {
	position: absolute;
	top: 110px;
	right: 0;
} */

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	color: rgba(214, 210, 210, 0.896);
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
}

nav a:hover {
	color: #524b4b;
}

.produtos {
	padding: 50px 0;
}

#produtos-container ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
	list-style-type: none;
}

.produtos li {
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: #C78C19;
}

.produtos li:active {
	border-color: #088C19;	
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	text-align: center;
	background: url("../assets/images/bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}

#contact {
	padding-top: 0;
}

#contact h3 {
	border-bottom: 1px solid rgba(195, 186, 186, 0.299);
	margin-bottom: 20px;
	padding-block: 20px;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

form fieldset {
	width: 50%;
}

#hours select { 
	margin: auto;
}

form textarea {
	resize: none;
}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
}

form fieldset {
	margin-bottom: 20px;
}

#hours  {
	display: flex;
}

#hours select {
	width: 150px;
	text-align: center;
	padding-block: 5px;
	font-size: 18px;
}

.input-padrao {
	background-color: rgba(200, 193, 193, 0.133);
	border-radius: 10px;
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin-bottom: 20px;
}

.checkbox > input {
	margin-right: 10px;
}

.enviar {
	width:50%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 0.2s all;
	cursor: pointer;
}

.enviar:hover {
	background: darkorange;
	transform: scale(1.02);
}

table {
	margin: 20px 0 40px;
	display: flex;
	justify-content: center;
}

tbody tr:first-child{
	background: #555555;
	color: white;
	font-weight: bold;
	text-align: center;
}

td {
	border: 1px solid #000000;
	padding: 8px 15px;
	width: 250px;
}


/* css da página inicial */

.titulo-principal {
	text-align: center;
	margin: 0 0 1em;
	clear: left;
}

.principal {
	background-image: url('../assets/images/banner.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 25rem;
	width: 100%;
	z-index: 1;
	display: flex;
}

.principal article {
	width: 940px;
	margin: auto;
	color: white;
	z-index: 9;
}

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.utensilios {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

.conteudo-beneficios {
    display: flex;
    align-items: center;
	justify-content: space-between;
}

.lista-beneficios {
	list-style-type: none;
}

.itens {
	margin-bottom: 20px;
}

.itens:before {
	content: "✂️ ";
}

.imagem-beneficios {
	width: 60%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px 0 #000000;
}

.imagem-beneficios:hover {
	opacity: 0.3;
}

.video {
	width: 560px;
	margin: 2em auto;
}

@media screen and (max-width: 1040px) {
	header {
		height: 120px;
	}

	header div {
		flex-direction: column;
		padding-block: 10px;
	}
	
	p {
		text-align: center;
	}

	section {
		padding-inline: 10px;
	}

	.caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
		width: auto;
	}

	h1 {
		text-align: center;
	}

	nav {
		position: static;
	}

	.conteudo-beneficios {
		flex-direction: column;
	}

	.lista-beneficios {
		margin-bottom: 20px;
	}

	.lista-beneficios, .imagem-beneficios {
		width: 100%;
	}

	fieldset {
		width: 80% !important;
	}
	
	.input-padrao {
		width: 80%;
	}

	.checkbox {
		text-align: center;
	}

	#produtos-container ul {
		flex-direction: column;
	}

	#produtos-container ul li {
		width: 65%;
		margin-bottom: 30px;
	}

	#produtos-container ul li article {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: stretch;
	}
}